:root {
  --bright-red: #FF0000;
  --deep-blue: #00008B;
  --dark-red: rgb(137, 2, 2);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none !important;
  font-family: 'Anton'!important;
  color: var(--bright-red);
}

html,
body,
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}